alias al="alias"

alias l="ls -lrth"
alias ll="ls -lrth"
alias la="ls -lrtha"

# List only directories
alias ld="ls -lrth | grep '^d'"

# List hidden directories as well
alias lda="ls -lrtha | grep '^d'"

alias dt="date '+%d-%b-%y | %a | %H:%M:%S | %Z'"

alias utc="TZ=UTC dt"
alias cst="TZ=US/Central dt"
alias est="TZ=US/Eastern dt"
alias ist="TZ=Asia/Kolkata dt"

# alias chmod commands
alias 000='chmod 000'
alias 644='chmod 644'
alias 666='chmod 666'
alias 655='chmod 655'
alias 755='chmod 755'
alias 777='chmod 777'

alias cs="cheatsheet" # see functions

# Python
alias pip=pip3
alias python=python3
alias serve="python3 -m http.server 8080"

# Reload the shell (i.e. invoke as a login shell)
alias reload="exec $SHELL -l"

# Search command line history
alias h="history | grep"

# Search running processes
alias p="ps aux | grep"
alias topcpu="/bin/ps -eo pcpu,pid,user,args | sort -k 1 -r | head -10"

# git aliases
alias gst="git status"

# docker ps -a
alias dps="docker ps --format 'table {{.ID}}\t{{.Image}}\t{{.Status}}\t{{.Names}}\t{{.Ports}}' -a"

# Copy to clipboard
alias c="pbcopy"

# Recursively delete `.DS_Store` files
alias cleanup="find . -type f -name '*.DS_Store' -ls -delete"

alias mate="/Applications/TextMate.app/Contents/Resources/mate"

# Search WikiPedia
alias wiki='python -c '\''import sys, wikipedia; print("Please provide a search query!") if len(sys.argv) < 2  else print(wikipedia.summary(sys.argv[1]))'\'

# kubectl aliases
alias k="kubectl"
alias kg="k get"
alias kgpo="k get pods"
alias kgdep="k get deployments"
alias kgsvc="k get services"
alias kgcm="k get cm"
alias kdpo="k describe pod"
alias kddep="k describe deployment"
alias kdsvc="k describe service"
alias kdcm="k describe cm"
alias ktpo="k top pods"
alias kex="kubectl exec -i -t"
alias krm="k delete"
alias krmdep="k delete deployment"
alias krmsvc="k delete service"
alias krmcm="k delete configmap"

# get services count
alias kgsvccnt="k get svc | sed -n '1!p' | wc -l"
